<header class="site-header">
  <div class="container">
    <div class="header-inner">
      <div class="brand">
        <a href="/"><h1 i18n="@@on_est_quoi">What are we?</h1></a>
      </div>

      <div class="header-actions">
        <div class="language-toggle">
          <button mat-button (click)="toggleLanguage()" class="lang-button">
            {{ i18n.getCurrentLanguage() === 'fr' ? 'EN' : 'FR' }}
          </button>
        </div>

        <div class="login-toggle">
          <ng-container *ngIf="userService.user$ | async as user; else notSignedIn">
            <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
              <img *ngIf="user.photoURL" [src]="user.photoURL" alt="" class="user-avatar" />
              <span class="user-name">{{ user.displayName || user.email }}</span>
            </button>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="onSignOut()" i18n="@@signOut">Sign out</button>
            </mat-menu>
          </ng-container>
          <ng-template #notSignedIn>
            <button mat-button (click)="onLogin()" i18n="@@login" class="login-button">Login</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
	<router-outlet></router-outlet>
</main>
